**Цель работы:**

Осуществить предварительную обработку данных csv-файла, выявить и устранить проблемы в этих данных.

# Загрузка набора данных

### Описание предметной области

Вариант № 8

Набор данных: credit_risk.csv

Атрибуты:

### 1.Чтение файла (набора данных)

In [18]:
import pandas as pd
bank = pd.read_csv('credit_risk.csv')

### 2. Обзор данных

2.1 Вывод первых 20 строк с помощью метода head.

In [32]:
bank.head(10)

,Id,Age,Income,Home,Employment_length,Intent,Amount,Rate,Status,Percent_income,Default,Credit_length
0,0,22.0,59000,RENT,123.0,PERSONAL,35000,16.02,1,0.59,Y,3
1,1,21.0,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2
2,2,25.0,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3
3,3,23.0,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2
4,4,24.0,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4
5,5,21.0,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2
6,6,26.0,77100,RENET,8.0,EDUCATION,35000,12.42,1,0.45,N,3
7,7,24.0,78956,RENT,5.0,MEDICAL,35000,11.11,1,0.44,N,4
8,8,24.0,83000,RENT,8.0,PERSONAL,35000,8.90,1,0.42,N,2
9,9,21.0,10000,OWN,6.0,VENTURE,1600,14.74,1,0.16,N,3

2.2 Оценка данных с помощью метода info.

In [20]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              652 non-null    int64
 1   Age             652 non-null    float64
 2   Income          652 non-null    int64
 3   Home            652 non-null    object
 4   Emp_length      643 non-null    float64
 5   Intent          652 non-null    object
 6   Amount          652 non-null    int64
 7   Rate            586 non-null    float64
 8   Status          652 non-null    int64
 9   Percent_income  652 non-null    float64
 10  Default         652 non-null    object
 11  Cred_length     652 non-null    int64
dtypes: float64(4), int64(5), object(3)
memory usage: 61.3+ KB

2.3 Оценка данных с помощью метода describe.

In [21]:
bank.describe()

,Id,Age,Income,Emp_length,Amount,Rate,Status,Percent_income,Cred_length
count,652.000000,652.000000,652.000000,643.000000,652.000000,586.000000,652.000000,652.000000,652.000000
mean,325.495399,24.285276,90008.855828,4.601866,18800.996933,12.289471,0.601227,0.279831,3.012270
std,188.352535,7.841061,69530.312525,7.281616,9152.896250,3.272772,0.490022,0.150231,0.808843
min,0.000000,21.000000,9600.000000,0.000000,1000.000000,5.420000,0.000000,0.010000,2.000000
25%,162.750000,23.000000,44000.000000,2.000000,10000.000000,10.250000,0.000000,0.160000,2.000000
50%,325.500000,24.000000,69998.000000,4.000000,21850.000000,12.180000,1.000000,0.280000,3.000000
75%,488.250000,25.000000,128499.000000,7.000000,25000.000000,14.720000,1.000000,0.380000,4.000000
max,649.000000,144.000000,500000.000000,123.000000,35000.000000,21.210000,1.000000,0.830000,4.000000

 2.4 Оценка названий столбцов

In [23]:
bank.columns

Index(['Id', 'Age', 'Income', 'Home', 'Employment_length', 'Intent', 'Amount',
       'Rate', 'Status', 'Percent_income', 'Default', 'Credit_length'],
      dtype='object')

**Было принято решение изменить сокращенные названия столбцов на полные с помощью rename.**

In [22]:
bank = bank.rename(columns = {'Emp_length': 'Employment_length'})
bank = bank.rename(columns = {'Cred_length': 'Credit_length'})

### 3. Проверка пропусков

**Проверка на пропуски показала, что в датафрейме имеются два столбца с пустыми ячейками. Таких столбцов два и значения в них числовые. Было принято решение заполнить пропуски медианными значениями.**

In [ ]:
bank_updated = bank.copy()
null_cols = ['Employment_length', 'Rate']
for col in null_cols:
    bank_updated[col] = bank_updated[col].fillna(bank_updated[col].median())
print(bank_updated.isnull().sum())
bank = bank_updated

Id                   0
Age                  0
Income               0
Home                 0
Employment_length    0
Intent               0
Amount               0
Rate                 0
Status               0
Percent_income       0
Default              0
Credit_length        0
dtype: int64
Id                   0
Age                  0
Income               0
Home                 0
Employment_length    0
Intent               0
Amount               0
Rate                 0
Status               0
Percent_income       0
Default              0
Credit_length        0
dtype: int64

### 4. Проверка дубликатов

#### Проверка явных дубликатов

In [31]:
bank['Home'] = bank['Home'].str.upper()
bank['Intent'] = bank['Intent'].str.upper()
duplicates_count = bank.duplicated().sum()
print(f"Количество полных дубликатов: {duplicates_count}")

Количество полных дубликатов: 2

In [34]:
bank_fixed = bank
bank_fixed = bank_fixed.drop_duplicates().reset_index(drop=True)
duplicates_count = bank_fixed.duplicated().sum()
print(f"Количество полных дубликатов: {duplicates_count}")
bank = bank_fixed
bank.info()

Количество полных дубликатов: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 650 non-null    int64
 1   Age                650 non-null    float64
 2   Income             650 non-null    int64
 3   Home               650 non-null    object
 4   Employment_length  650 non-null    float64
 5   Intent             650 non-null    object
 6   Amount             650 non-null    int64
 7   Rate               650 non-null    float64
 8   Status             650 non-null    int64
 9   Percent_income     650 non-null    float64
 10  Default            650 non-null    object
 11  Credit_length      650 non-null    int64
dtypes: float64(4), int64(5), object(3)
memory usage: 61.1+ KB

#### Проверка неявных дубликатов

**Важно проверить столбец 'Id' на уникальность значений, а также некоторые столбцы на правильность написания значений.**

In [64]:
bank['Home'] = bank['Home'].replace('RENET', 'RENT')
bank['Default'] = bank['Default'].replace('No','N')
print(len(bank['Id'].unique()))
print(len(bank['Id']))
col_to_check = ['Home','Intent','Status','Default']
for col in col_to_check:
    print(bank[col].value_counts())

650
650
Home
RENT        414
MORTGAGE    136
OWN          98
OTHER         2
Name: count, dtype: int64
Intent
EDUCATION            145
VENTURE              117
PERSONAL             111
MEDICAL              107
DEBTCONSOLIDATION    102
HOMEIMPROVEMENT       68
Name: count, dtype: int64
Status
1    390
0    260
Name: count, dtype: int64
Default
N    500
Y    150
Name: count, dtype: int64

### 5. Провека типов данных

In [127]:
bank['Age'] = bank['Age'].astype('int64')
bank['Employment_length'] = bank['Employment_length'].astype('int64')
bank['Income'] = bank['Income'].astype('float64')
bank['Amount'] = bank['Amount'].astype('float64')
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 650 non-null    int64
 1   Age                650 non-null    int64
 2   Income             650 non-null    float64
 3   Home               650 non-null    object
 4   Employment_length  650 non-null    int64
 5   Intent             650 non-null    object
 6   Amount             650 non-null    float64
 7   Rate               650 non-null    float64
 8   Status             650 non-null    int64
 9   Percent_income     650 non-null    float64
 10  Default            650 non-null    object
 11  Credit_length      650 non-null    int64
dtypes: float64(4), int64(5), object(3)
memory usage: 61.1+ KB

### 6. Группировка данных

#### Задание 1

Группировка - статус домовладения (home) по количеству дефолтов (default).

In [66]:
print(bank.groupby(['Home','Default'])['Id'].count())

Home      Default
MORTGAGE  N          107
          Y           29
OTHER     Y            2
OWN       N           85
          Y           13
RENT      N          308
          Y          106
Name: Id, dtype: int64

**Данная группировка показывает, как статус домовладения влияет на исправные выплаты по кредиту.**

#### Задание 2

Группировка - цель кредита (intent) по количеству статуса домовладения (home). Создать датафрейм. Переименовать столбец с количеством в “countˮ. Отсортировать по убыванию столбца “countˮ.

In [108]:
intent_of_credit = (bank.groupby(['Intent', 'Home'])
                    .size()
                    .reset_index(name='count')
                    .sort_values('count', ascending = False)
                    .set_index(['Intent', 'Home']))
print(intent_of_credit)

                            count
Intent            Home
EDUCATION         RENT         94
DEBTCONSOLIDATION RENT         72
MEDICAL           RENT         70
VENTURE           RENT         70
PERSONAL          RENT         69
HOMEIMPROVEMENT   RENT         39
EDUCATION         MORTGAGE     34
VENTURE           MORTGAGE     27
MEDICAL           MORTGAGE     22
PERSONAL          OWN          22
DEBTCONSOLIDATION MORTGAGE     21
VENTURE           OWN          20
PERSONAL          MORTGAGE     19
EDUCATION         OWN          16
HOMEIMPROVEMENT   OWN          16
MEDICAL           OWN          15
HOMEIMPROVEMENT   MORTGAGE     13
DEBTCONSOLIDATION OWN           9
EDUCATION         OTHER         1
PERSONAL          OTHER         1

**Данная группировка позволяет узнать как цель кредита зависит от статуса домовладения.**

#### Задание 3

Сводная таблица (pivot_table) - средний доход income для каждого возраста. Отсортировать по убыванию.  Округлить до двух знаков.

In [109]:
pivot_table = bank.pivot_table(values='Income', index='Age', aggfunc='mean')
pivot_table['Income'] = pivot_table['Income'].round(2)
pivot_table = pivot_table.sort_values('Income', ascending=False)
print(pivot_table)

        Income
Age
144  225000.00
26   122793.74
25   106750.02
24    88684.03
23    85682.35
123   80004.00
22    64423.88
21    42238.58

**Данная сводная таблица позволяет увидеть, как заработок зависит от возраста.**

#### Задание 4

Сводная таблица (pivot_table) - средняя сумма кредита amount для каждой цели (intent) -  строки и возраста - столбцы  . Отсортировать по возрастанию intent.  Округлить до двух знаков.

In [129]:
pivot_table = bank.pivot_table(values='Amount', index='Intent', columns='Age', aggfunc='median')
pivot_table = pivot_table.round(2).sort_index(ascending=True)


print(pivot_table)

Age                    21       22       23       24       25       26   \
Intent
DEBTCONSOLIDATION   4875.0  20625.0  22500.0  22000.0  20000.0  24000.0
EDUCATION          15000.0  21500.0  24250.0  22000.0  21225.0  21000.0
HOMEIMPROVEMENT     4500.0   4125.0   4000.0  23487.5  24250.0  21000.0
MEDICAL             6000.0  22000.0  21000.0  21800.0  20000.0  23000.0
PERSONAL            4200.0  21000.0  23575.0  25000.0  24000.0  24000.0
VENTURE             6000.0  18000.0  25000.0  22700.0  20000.0  20000.0

Age                    123     144
Intent
DEBTCONSOLIDATION      NaN     NaN
EDUCATION          20400.0  6000.0
HOMEIMPROVEMENT        NaN     NaN
MEDICAL                NaN     NaN
PERSONAL               NaN     NaN
VENTURE                NaN  4800.0

**Данная сводная таблица позволяет увидеть связь суммы кредита и возраста, а также цель для которой взят кредит.**

### Вывод

В ходе выполнения лабораторной работы был проведен комплексный предварительный анализ данных кредитных заявок. На начальном этапе осуществлено знакомство со структурой данных, выявлены пропущенные значения и некорректные типы данных. Проведена работа по очистке данных: заполнены пропуски медианными значениями, удалены дубликаты, исправлены типы данных.

Выполнены аналитические группировки, позволяющие выявить взаимосвязи между различными параметрами кредитных заявок. Построены сводные таблицы, демонстрирующие распределение доходов и сумм кредитов в зависимости от возраста заемщиков. Проанализированы зависимости между целями кредитования и статусом домовладения клиентов.

Результаты работы показывают, что проведенная предварительная обработка данных позволяет перейти к более глубокому анализу и моделированию. Качественно подготовленные данные являются надежной основой для построения прогнозных моделей и принятия взвешенных решений в области кредитного скоринга. Весь процесс обработки данных подтвердил важность этапа предварительного анализа для получения достоверных результатов.

### Дополнительное задание

**`Подробная формулировка задания`**

In [ ]:
# код выполнения задания

***`Подробный вывод по заданию, описание полученных результатов`***